@import '../base/variables';
@import '../base/mixins';

#page1 {
  .main {
    .banner {
      background: url(../img/discovbanner.png) no-repeat scroll center;
      transition: 2s background;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;

      .banner__headline {
        @include setBluuh2;
        margin: 70px 0;
        color: #fdfdfd;

        @media (min-width: $tablet) {
          margin: 162px 0;
        }

        @media (min-width: $desktop) {
          @include setBluuh1;
        }
      }

      .banner__group {
        @include setFlexbox (row, center, center, nowrap);

        .banner__link {
          @include setLinkdecor;
          @include Button_accent;
          display: inline-block;
          width: 205px;
          margin-bottom: 50px;

          @media (min-width: $tablet) {
            margin: 0;
          }
        }
      }
    }
  }
}

.bg1 {
  background: url(../img/discovbanner.png) no-repeat scroll center;
  transition: 2s background;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}

.bg2 {
  background: url(../img/hogwarts.jpg) no-repeat scroll center;
  transition: 2s background;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}

.bg3 {
  background: url(../img/platform.jpg) no-repeat scroll center;
  transition: 2s background;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}